@import "tailwindcss";

/* 1. Define your custom design tokens as CSS variables */
:root {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}

/* globals.css */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 4px;
  width: 100%;
  --c: no-repeat linear-gradient(rgb(29, 28, 28) 0 0);
  background: var(--c), var(--c), #adabaf;
  margin-bottom: 15px;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

.loaderSpinner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 